# Backend env vars
TMDB_READ_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyNzc2YzViMzFlNmJhMjNmM2RiZWU4OGQ5NDAwOWNkZiIsIm5iZiI6MTc3NTY3NDM3Mi4yNjEsInN1YiI6IjY5ZDZhNDA0MDNiMzYwMzUxNTA3MWU4MSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.HQLRkjyCtURCYyIvWX-_7MigRK_T3mSKm4YKHDt37mM
TMDB_API_KEY=2776c5b31e6ba23f3dbee88d94009cdf
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p/w500

# Optional CORS regex for frontend preview domains
ALLOWED_ORIGIN_REGEX=https://.*\.vercel\.app
